extends layout 
 
block content 
  h1= title 
 
  form(id='landForm', action="/resource/land", method="POST") 
    div.form-group 
        label.landAttr(for='land_type') land brand  
        input#land_type(type='text', name='land_type') 
    div.form-group 
        label.landAttr(for='area') land area
        input#area(type='text', name='area') 
    div.form-group 
        label.landAttr(for='cost') land cost 
        input#cost(type='number', name='cost') 
    input(type="submit") 
 
  script. 
    document.forms['landForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user tland form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or wlandever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });